.create {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f2f2f2;
}
.div-create{
    background-color: #fff;
}
.btn {
    background-color: #52ab98 !important;
}
.field {
    background-color: #f2f2f2;
}
.facts {
    border: 1px solid #2b6777;
    border-radius: 1rem;
    margin: 1rem;
    text-align: center;
    background-color: #c8d8e4;
}

@media only screen and (max-width: 800px) {
    .create {
        grid-template-columns: 100%;
    }
}